.hero {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #0c0c1d, #111132);
  overflow: hidden;
  position: relative;
  .imageContainer {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
  }
  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
  }
}
