@import "../../app.scss";

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;

  .wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: auto;
    
    @include mobile {
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    @include tablet {
      flex-direction: column;
    }
    #scroll{
      position: absolute;
      z-index: 5;
      bottom: 2rem;
    }
  }
  .textContainer {
    padding: 2rem 5rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    h2 {
      font-size: 2rem;
      color: rebeccapurple;
      letter-spacing: 10px;
      @include mobile {
        font-size: 1rem;
      }
    }
    h1 {
      font-size: 3.4rem;      
      text-wrap: nowrap;
      @include mobile {
        font-size: 2rem;
      }
      @include tablet {
        text-wrap: wrap;

      }
    }
    .buttons {
      button {
        padding: 20px;
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        margin-right: 20px;
        cursor: pointer;
        font-weight: 300;
      }
    }

    @include mobile {
      padding: 1rem;
      gap: 2rem;
      width: 100%;
      height: 50%;
      align-items: center;
    }
    @include tablet {
      width: 100%;
      height: 40%;
    }
  }
  .imageContainer {
    margin-top: 2rem;
    height: 100%;
    z-index: 1;
    width: 40%;
    position: relative; // Set container as relative
  
    img {
      position: absolute; 
      bottom: 0;          
      left: 50%;         
      transform: translateX(-50%); 
      width: auto;
      height: auto;
      max-height: 100%;
      object-fit: contain;
  
      @include mobile {
        padding-top: 5rem;
      }
      @include tablet {
        margin-top: 0;
      }
    }

    @include mobile {
      width: 100%;
      height: 70%;
    }
    @include tablet {
      width: 100%;
      height: 60%;
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -50px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
